body {
	background-color: #f7eded;
	color: #575F7D;
	font-size: 20px;
}
a:hover {
	color:black;
}

.container {
	width: 700px;
	margin: 40px;
	margin: auto;

}

.card {
	background-color: white;
	margin: auto;
	margin: 20px;
	text-align: center;
	padding: 40px;

}

.privet {
font-family: 'Roboto', sans-serif;
	font-size: 32px;
    font-weight: 900;
}

.img {
	width: 100px;
	border-radius: 50px
}

.text {
	margin-bottom: 40px;
	
	
}
.link {
	background-color: #6B72E1;
	padding: 15px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
.link:hover {
	background-color: black;
	color: white;
}

.mySites {
	color: #7ECE90;

}
.link_color {
	color: white;
}

.sites {
	list-style: none;
	padding-left: 0px;
}
li {
	display: inline;
	padding: 10px;
}
i {
	font-size: 50px;
}
.box-shadow {
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
ss